@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-light.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu,
.close {
    display: none;
    z-index: 5;
    position: absolute;
    margin: 10px 10px 10px auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
}

.menu:hover,
.close:hover {
    cursor: pointer;
}

#map {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.panel {
    z-index: 4;
    position: absolute;
    right: 0;
    margin: 0;
    display: block;
    width: 0;
    height: 100%;
    background-color: #00bcd4;
    transition: width .5s;
}

.scroll {
    width: 100%;
    height: 90%;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.delete {
    display: none;
    margin: 10px auto;
}

.active {
    width: 500px;
}

.visible {
    display: block;
}

#table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: top;
    color: #ffffff;
    font-family: 'Montserrat-Light';
}

th,
td {
    width: 25%;
    padding: 10px;
    /* border: .1em solid #ffffff; */
    cursor: pointer;
}

tbody:first-child {
    cursor: default;
}

th {
    font-family: 'Montserrat';
}

.popup {
    z-index: 6;
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 400px;
    height: 150px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #E53935;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

#pop-close {
    width: 24px;
    height: 24px;
    align-self: flex-end;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}

.pop-title,
.pop-text {
    margin: 0px 20px 20px 20px;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-size: 1em;
}

.btn-group {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    visibility: visible;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #00bcd4;
    background-color: #00bcd4;
    color: #ffffff;
    transition: color .5s, background-color .5s;
}

.btn-group>button {
    margin: 0 0 20px 0;
}

.btn:hover {
    border: 1px solid #00bcd4;
    background-color: #ffffff;
    color: #00bcd4;
}

.btn>svg {
    width: 24px;
    height: 24px;
    padding-right: 5px;
}

.btn:hover svg>path {
    fill: #00bcd4;
}

@media screen and (max-width: 500px) {

    .btn-group {
        width: 100%;
    }

    .active {
        width: 100%;
    }

    table,
    tbody,
    tr,
    td,
    th {
        display: block
    }

    th {
        display: none;
    }

    td {
        position: relative;
        border: none;
        /* border-bottom: .1em solid #ffffff; */
        width: 50%;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "Identifiant";
    }

    td:nth-of-type(2):before {
        content: "Heure";
    }

    td:nth-of-type(3):before {
        content: "Latitude";
    }

    td:nth-of-type(4):before {
        content: "Longitude";
    }

}

@media screen and (max-height: 600px) {
    .scroll {
        height: 80%;
    }
}